In [3]:
import pandas as pd
from pathlib import Path

In [4]:
def read_file(file_path:str)->pd.Dataframe:
    file = Path(file_path)
    if not file.is_file():
        raise FileNotFoundError(f'{file_path} does not found')
    try:
        df = pd.read_excel(file_path)

        return df
    except Exception as e:
        raise ValueError(f"Failed to read Excel file '{file_path}': {e}")

In [5]:
df = read_file('../../data/task_2_data_ex.xlsx')

In [9]:
df

,year,month,produced_material,produced_material_production_type,produced_material_release_type,produced_material_quantity,component_material,component_material_production_type,component_material_release_type,component_material_quantity,plant_id
0,2024,1,10000,8002,FIN,990.0,50000,8002.0,PROD,990.0,RLT_10
1,2024,1,50000,8002,PROD,859.0,80070,8007.0,PROD,879.0,RLT_10
2,2024,1,50000,8002,PROD,859.0,90000,NaN,ADD,50.0,RLT_10
3,2024,1,50000,8002,PROD,859.0,90001,NaN,ADD,20.0,RLT_10
4,2024,1,80070,8007,PROD,929.0,80010,8001.0,PROD,3626.0,RLT_10
...,...,...,...,...,...,...,...,...,...,...,...
1315,2024,12,80079,8007,PROD,849.0,90048,NaN,ADD,9.0,RLT_14
1316,2024,12,80019,8001,PROD,1780.0,80009,8000.0,PROD,2046.0,RLT_14
1317,2024,12,80019,8001,PROD,1780.0,90049,NaN,ADD,102.0,RLT_14
1318,2024,12,80009,8000,PROD,2181.0,70009,NaN,RM,2523.0,RLT_14
1319,2024,12,80009,8000,PROD,2181.0,90050,NaN,ADD,65.0,RLT_14

In [10]:
df.to_csv('../import/production_data.csv',index=False)